/*+--------------------------------------+*/
/*+                                      +*/
/*+                about                 +*/
/*+                                      +*/
/*+--------------------------------------+*/

/*-----------------------------------------------a-s-1----------------------------------------------------------------*/
#top-img1 {
  background: url('../../../images/about/bg/about-bg.jpeg');
}

#about-story-img {
  width: 80%;
  clip-path: circle(50% at 50% 50%);
  margin-top: 12%;
  margin-bottom: auto;
}

@media all and (max-width: 768px) {
  .a-title {
    margin-top: 40%;
  }
}
